body, .wrapper, .row, .column-1, .column-2, .column-3 {
	display: flex;
	flex-direction: column;
}

body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;	
}

.wrapper {
	height: 100%;
	width: 100%;
	align-items: center;	
}

.row {
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	padding: 10px 0px 10px 0px;
}

.column-1 {
	flex: 1;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.column-2 {flex: 2;}
.column-3 {flex: 3;}
.column-4 {flex: 4;}
.column-5 {flex: 5;}
