.background {
	background-image: url('../images/bg.png');
	background-size: 600px 600px;
	background-position: top center;
	background-repeat: repeat;
}

.box {
	min-width: 50vw;
	background-color: rgba(41, 41, 43, 1.0);
	border-radius: 12px;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.table {
	width: 50vw;
	border 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}

.table-h {
	font-weight: bold;
	background-color: rgb(21, 21, 23);
	border-radius: 10px 10px 0px 0px;
}

.table-r {
	border-bottom: 1px solid silver;
	background-color: white;
}

.table-t {
	border-bottom: 1px solid silver;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}

.line {
	min-height: 1px;
	width: 90%;
	background-color: white;
}

.input {
	color: black;
	border-radius: 8px;
	border: 1px solid white;
	padding: 5px;
	margin-right: 10px;
}

.input::placeholder {
	color: silver;
}

.btn-submit {
	transition: all 0.2s ease-in;
	color: white;
	background-color: rgb(128, 160, 214);
	border: 0px solid white;
	border-radius: 8px;
}
.btn-submit:hover {
	transition: all 0.2s ease-out;
	background-color: white;
	color: rgb(128, 160, 214);
	cursor: pointer;
}

.btn-clear {
	
}

.btn-remove {
	
}
